/* GENERAL */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

p {
  font-size: 1.1rem;
  line-height: 1.7rem;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.router {
  margin: 5rem auto;
}

/* SPINNER */

.spinner {
  height: 4rem;
  width: 4rem;
  border: 0.1rem solid #f00;
  border-top: none;
  border-right: none;
  border-radius: 50%;
  margin: 15rem auto;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NAVBAR */
#c_Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

/* SIDEBAR  */

#sidebar {
  width: 17rem;
  height: 100vh;
  background: #f5f5f5;
  border: 0.1rem solid #6bb350;
  color: #6bb350;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  margin-left: -17rem;
  transition: all 0.3s;
}

@media (max-width: 768px) {
  #sidebar {
    width: 12.5rem;
    margin-left: -12.5rem;
  }
}

#sidebar.active {
  margin-left: 0;
}

#sidebar .sidebar-header {
  padding: 1.25rem;
  background: #f5f5f5;
}

#sidebar ul.components {
  padding: 1.25rem 0;
  border-bottom: 0.1rem solid #e0e0e0;
}

#sidebar ul p {
  color: #6bb350;
  padding: 0.625rem;
}

#sidebar ul li a {
  padding: 0.625rem;
  font-size: 1rem;
  display: block;
}

#sidebar ul li a:hover {
  color: #b2dfdb;
  background: #00897b;
}

#sidebar ul li.active > a,
a[aria-expanded='true'] {
  color: #004d40;
  background: #80cbc4;
}

ul ul a {
  font-size: 0.8rem !important;
  padding-left: 1.875rem !important;
  background: #e0f2f1;
}

a[data-toggle='collapse'] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 1.25rem;
  transform: translateY(-50%);
}

/* OVERLAY */

.overlay {
  display: none;
  position: fixed;
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.7);
  /* middle layer, i.e. appears below the sidebar */
  z-index: 998;
  opacity: 0;
  /* animate the transition */
  transition: all 0.5s ease-in-out;
}

/* display .overlay when it has the .active class */
.overlay.active {
  display: block;
  opacity: 1;
}

/* SIDEBAR BTN */

#dismiss {
  width: 2.18rem;
  height: 2.18rem;
  position: absolute;
  /* top right corner of the sidebar */
  top: 1rem;
  right: 1rem;
  text-align: center;
  line-height: 2.18rem;
  cursor: pointer;
  border-radius: 0.2rem;
  transition: all 0.2s ease;
}

#dismiss:hover {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}

#content {
  position: relative;
  z-index: 997;
}
